@model IEnumerable<QuanLiSinhVien.Models.Lsh>

@{
    ViewData["Title"] = "Index";
    bool isLoggedIn = ViewContext.HttpContext.Session.GetString("User") != null;
}

<p class="session_title">DANH SÁCH LỚP SINH HOẠT</p>
<div class="session_search">
    <form asp-action="Index" method="get">
        <select name="selectedNienKhoa">
            <option value="">Chọn niên khóa:</option>
            @foreach (var nienkhoa in (SelectList)ViewBag.NienKhoaList)
            {
                <option value="@nienkhoa.Text">@nienkhoa.Text</option>
            }
        </select>
        <input type="search" name="searchTerm" value="@ViewContext.HttpContext.Request.Query["searchTerm"]" placeholder="Tìm kiếm theo mã lớp sinh hoạt..." />
        <button type="submit">Tìm kiếm</button>
    </form>
</div>
@if (isLoggedIn)
{
    <div class="session_header">
        <button><a asp-action="Create">Thêm</a></button>
        <button><a asp-action="Edit">Sửa</a></button>
        <button><a asp-action="Delete">Xóa</a></button>
    </div>
}
<div class="list_card">
    @foreach (var item in Model)
    {
        <div class="card_LSH">
            <img src="img/khoa.jpg">
            <p class="card_title">@Html.DisplayFor(modelItem => item.MaLsh)</p>
            <p>GVCN: @Html.DisplayFor(modelItem => item.MaGvNavigation.TenGv)</p>
            <p>Sĩ số: @Html.DisplayFor(modelItem => item.Siso)</p>
            <button><a href="#">Xem chi tiết</a></button>
        </div>
    }
</div>
